.footer {
  background-color: rgba(44, 43, 43, 1);
  padding: 60px;
}

.links {
  text-align: center;
}

.links i {
  color:aquamarine;
  padding-right: 5px;
}

.links i:hover {
  transform: scale(1.3);
}

.footer p {
  text-align: center;
  color: #676766;
  margin-bottom: 0;
}

.footer p i {
  color: red
}

.footer a {
  font-size: 35px;
}
